
/*  구글 웹폰트 로딩  */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
/*  reset css  */
@import url('https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css');

a{
    color: inherit;
    text-decoration: none;
}

button, input{
    outline: none;
    border: none;
    color: inherit;
}

/* common */
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
body{
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
}
.en{    /* 영어 폰트만 따로 관리 */
    font-family: 'Exo 2', sans-serif;
}
br.mo{  /* 모바일 버전에서는 br이 작동X */
    display: none;
}
li{
    list-style: none;
    list-style-type: none;
}


/* header style !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
header{
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100px;
    line-height: 100px;

    position: fixed;
    top: 0;
    z-index: 9999;
}

header .inner-header{
    width: 84%;
    margin: 0 auto;
}

header .inner-header .logo{
    float: left;
    width: 200px;
}

header .inner-header .logo img{
    width: 100%;
    vertical-align:middle;
    opacity: 0.9;
}

header .inner-header .gnb{ /* 회사소개~인재채용 */
    float: left;
    margin-left: 80px;
}

header .inner-header .gnb li{
    margin-right: 60px;
}

header .inner-header .gnb li a{
    display: block;
}
header .inner-header .gnb li a:hover{
    color: #ff8342;
}

header .inner-header nav li a{
    color: white;
    font-size: 16px;
}   /* nav 태그를 지목해서 gnb와 tnd의 글자를 한번에 지목함. */


header .inner-header .tnb{ /* 알기쉬운 제품~제품검색 */
    float: right;
}
header .inner-header .tnb li{
    margin-right: 25px;
}

header .inner-header .tnb li:first-child(1) i,
header .inner-header .tnb li:first-child(2) i{
    margin-right: 8px;
    font-size: 20px;
}
header .inner-header .tnb li:last-child i{
    margin-left: 5px;
    font-size: 20px;
}

header .inner-header .tnb li:last-child a{
    border: 1px solid; white-space: nowrap;
    border-radius: 30px;
    padding: 5px 15px;
}
header .inner-header .tnb li:last-child a:hover{
    margin-left: 0;
    color:#ffffff;
    background-color: #ff8342;
}


header .inner-header nav li{
    float: left;
}

header .inner-header .gnb-mobile{
    display: none;
}
/* !!!!!!!!!!!!!!!!!!!!!!!1 End Header */

/* !!!!!!!!!!!!!!!!section.main style */

section.main{
    background: url(./img/vis_4.jpg)
    no-repeat center / cover fixed;
    height: 100vh;
    position: relative;
}

section.main .main-title{
    /* background: rgb(255, 169, 71); */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 10px #123;

    animation: uprise 1s ease;
}

@keyframes uprise {
    from{
        opacity: 0;
        top: 60%;
    }to{
        opacity: 1;
        top: 50%;
    }
}

section.main .main-title h2{
    font-size: 55px;
}
section.main .main-title p{
    font-size: 25px;
    margin: 20px 0;
}    

section.main .main-title .view {
    font-size: 20px;
    letter-spacing: 2px;

    display: block;
    width: 180px;
    margin: 0 auto;
    border: 1px solid #ffffff;
    border-radius: 40px;
    padding: 10px 5px;
    position: relative;
    overflow: hidden;
}

section.main .main-title .view::after {
    content: '';
    width: 0%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);

    position: absolute;
    top: 0; left: 0;
    transition: 0.3s;
}

section.main .main-title .view:hover:after {
    width: 100%;
}

/* section에 들어갈 디자인을 일괄 지정 */
section .title {
    text-align: center;
}
section .title h2{
    font-size: 45px;
    color: #111;
    margin-bottom: 10px;
}

section .title p {
    font-size: 18px;
    color: #555;
}

section .sub-container {
    /* background: tomato; */
    width: 74%;
    margin: 0 auto;
}





/* !!!!!!!!!!!!!!!! section.about style */
section.about{
    margin: 80px 0;
}

section.about .sub-container{ /*  */
    margin-top: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
}

section.about .sub-container li{
    box-sizing: border-box;
    float: left;
    width: 33.3333%; /* 패딩 때문에 박스가 더 커지면 100%를 넘음. */
    height: 510px;
}

section.about .sub-container li .img-box{
    overflow: hidden;
}


section.about .sub-container li .img-box img{
    width: 100%;
}

section.about .sub-container li a:hover .img-box img{
    transform: scale(1.2);
    transition: 0.5s;
}

section.about ul li a .text {
    padding: 25px;
}
section.about ul li a .text h3{
    font-size: 20px;
    margin-bottom: 10px;
}

section.about ul li a .text p{
    font-size: 16px;
    margin-bottom: 20px;
}
section.about ul li a .text p.more{
    text-transform: uppercase; /* 일괄 대/소문자 변경 */
    font-weight: bold;

    padding-left: 40px;
    position: relative;
}
section.about ul li a .text p.more::before{
    content: '→';
    display: block;
    width: 30px; 
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background-color: #ff8342;

    position: absolute;
    left: 0;
    top: -7px; /* 내려가있길래 올려줌 */
}





/* section.innovation style */
section.innovation{
    margin-bottom: 150px;
}

section.innovation .img-box{
    margin-top: 50px;
    height: 540px;
    background: url(./img/product_1.jpg)
    no-repeat center /cover;
    position: relative;
}
section.innovation .img-box .inner{
    background-color: #3a3c4e;
    width:  80%;
    color: #fff;

    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, 0);
}

section.innovation .img-box .inner h3{
    background-color: #fdfdfd;
    color: #222;
    font-size: 18px;
    padding: 25px 45px;
    box-sizing: border-box;
}

section.innovation .img-box .inner .bottom{
    padding: 35px 85px;
    box-sizing: border-box;
}

section.innovation .img-box .inner .bottom p{
    float: left;
    width: 70%;
    line-height: 1.6;
}
section.innovation .img-box .inner .bottom a{
    /* background-color: teal; */
    /* display: block;  -> float를 사용할 거라면 굳이 써줄 필요가 없다.*/
    float: right;
    padding: 8px 27px;
    border-radius: 50px;
    background-color: #ff8342;
}

section.innovation .img-box .inner .bottom a:hover{
    background-color: #f75b08;
}






/* section.me style */
section.me {
    background: url(./img/me.jpg) no-repeat center / cover;
    padding: 80px 0;
    margin-bottom: 150px;
}

section.me ul.list{
    margin-top: 50px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

section.me ul.list > li{
    padding: 30px 60px;
    /* background-color: #555; */
}

section.me ul.list > li:first-child{
    border-bottom: 1px solid #ddd;
}

section.me ul.list > li h3 {
    font-size: 18px;
    margin-bottom: 20px;
    position: relative;
}


section.me ul.list > li h3 span{
    position: absolute;
    left: -30px;
    color: #ff8342;
}


section.me ul.list > li p {
    line-height: 1.6;
    margin-bottom: 20px;
}


section.me ul.list > li .more{
    font-size: 16px;
    font-weight: 700;
}
section.me ul.list > li .more span{
color: #ff8342;
margin-left: 7px;
font-size: 14px;
}

section.me ul.list > li .more:hover span i{
    /* animation: size-up 1s alternate both; */
    animation: undefined-easeInBounce 1s  alternate both;
}


section.me ul.list ul.in {
    margin-bottom: 30px;
}
section.me ul.list ul.in li em{
    /* float이나ㅣ position에 적용되면 자동으로 블록요소로 바뀜 */
    float: left;
    font-weight: 700;
    width: 12%;
}

section.me ul.list ul.in li p{
    float: left;
    position: relative;
}
section.me ul.list ul.in li p::before{
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #ff8342;
    position: absolute;
    left: -30px;
    top: 8px
}

#incruit-btn{
    display: block;
    width: 280px;
    background: #ff8342;
    color: #fff;
    margin: 20px auto 0;
    font-weight: 700;
    border-radius: 50px;
    padding: 10px 0;
    cursor: pointer;
}
/* section.me style end... */




/* section.sns style !!!!!!!!!!!!!!!!!*/
section.sns ul.sub-container{
    margin: 50px auto;
    /* background-color: #cacaca; */
}

section.sns ul.sub-container li{
    width: 32%;
    float: left;
    box-sizing: border-box;
    margin-right: 2%;
}
section.sns ul.sub-container li:last-child{
    margin-right: 0;
}

section.sns ul.sub-container li a .img-box img{
    width: 100%;
    margin: 0 auto;
    position: absolute;
     top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
section.sns ul.sub-container li a .img-box{
    height: 170px;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}

section.sns ul.sub-container li a .img-box::before{
    content: '';
    width: 0%;
    height: 100%;
    margin: 0 auto;
    background-color: #ff8342;
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    opacity: 0.8;
    z-index: 10;
}

section.sns ul.sub-container li a:hover .img-box::before{
    width: 100%;
}




section.sns ul.sub-container li a .img-box::after{
    content: 'BLOG';
    font-size: 9px;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    padding: 3px 20px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    transition: 0.5s;
    z-index: 20;
    opacity: 0;
}

section.sns ul.sub-container li a:hover .img-box::after{
    opacity: 1;
}


section.sns ul.sub-container li a .bottom{
    padding: 20px 0 20px 15px;
    box-sizing: border-box;
}

section.sns ul.sub-container li a .bottom p{
    font-size: 13px;
}

section.sns ul.sub-container li a .bottom p.color{
    color: #ff8342;
    margin-bottom: 10px;
}

section.sns ul.sub-container li a .bottom p.time{
    color: #868686;
    margin-top: 15px;
    font-size: 10px;
}

section.sns ul.sub-container li a .bottom p.time i{
    margin-right: 6px ;
    font-size: 0.9em;
}

section.sns ul.sub-container li a .bottom p.time span{
    margin-left: 3px ;
}


@keyframes undefined-easeInBounce {
	0% {	transform: translateX(0%);} 
	4% {	transform: translateX(1.54%);}
	8% {	transform: translateX(0.66%);}
	18% {	transform: translateX(6.25%);}
	26% {	transform: translateX(1.63%);}
	46% {	transform: translateX(24.98%);}
	64% {	transform: translateX(1.99%);}
	76% {	transform: translateX(56.44%);}
	88% {	transform: translateX(89.11%);}
	100% {transform: translateX(100%);}
}
@keyframes size-up {
    from{
        transform: scale(1.0);
    } to{
        transform: scale(2.5);
    }
}





/* !!!!!!!!!!!!!!! footer style */
footer{ 
    border-top: 1px solid #999;
    padding: 30px 0;
}

footer .inner{
    width: 84%;
    margin: 0 auto;
}

footer .inner .ft-logo{
    float: left;
    width: 12%;
}

footer .inner .ft-logo img{
    width: 100%;
}

footer .inner .address{
    float: left;
    margin-left: 50px;
    margin-top: 10px;
}

footer .inner .address li:first-child{
    font-weight: 700px;
    margin-bottom: 7px;
}
footer .inner .address li:last-child{
    color: #999;
}

footer .inner ul.list {
    /* 메뉴모음을 우측으로 */
    float: right;
    margin-top: 20px;
}
footer .inner ul.list li{
    /* 메뉴들을 좌측부터 순서대로 정렬 */
    float: left;
    margin-left: 80px;
}

/* FAMILY SITE만 굵음 처리 */
footer .inner ul.list li:last-child{ 
    font-weight: 700;
}

/* 마우스 대면 밑줄+오렌지컬러 */
footer .inner ul.list li a:hover{ 
    color: #ff8342;
    text-decoration: underline;
}






/* 반응형 웹디자인 */
/* 노트북 해상도 1600px 미만 */
@media screen and (max-width: 1599px){
   header .inner-header nav {
    display: none;
   }
   header .inner-header .gnb-mobile{
    display: block;
    float: right;
    font-size: 40px;
    color: #fff;
   }
   section.main .main-title h2 {
    font-size: 35px;
}
section.main .main-title p {
    font-size: 18px;
}
section.main .main-title .view {
    font-size: 13px;
    width: 130px;
    padding: 10px;
}
section.innovation .img-box .inner .bottom p {
    width: 60%;
}
section.innovation .img-box .inner .bottom a {
    padding: 8px 27px;
    margin-top: 20px;
}

/* footer .inner .list{
    display: block;
} */

footer .inner .ft-logo img{
    width: 30%;
    margin: 0 auto;
    }
}

/* 태블릿 1024px 이하 해상도 (아이패드 프로) */
@media screen and (max-width: 1024px){

    header .inner-header, section .sub-container, footer .inner{
        width: 92%;
    }

    section.about ul li a .text p {
        font-size: 15px;
        margin-bottom: 30px;
    }
    section.me {
        background: url(./img/me.jpg) no-repeat center / cover;
        padding: 80px 0;
        margin-bottom: 150px;
    }
    section.me ul.list ul.in li p {
        float: none;
    }

    section.me ul.list ul.in li em {
        float: none;
        margin-bottom: 10px;
    }

    section.me ul.list ul.in li p::before {
        left: -30px;
        top: 0px;
    }

    section.me ul.list > li h3 {
        margin-bottom: 10px;
    }

    footer .inner .ft-logo {
        width: 15%;
        margin-top: 10px;
        margin-left: 50px;
    }
    footer .inner .ft-logo img {
        width: 100%;
    }
    footer .inner .address {
        margin-left: 30px;
        margin-top: 10px;
    }
    /* footer .inner ul.list {
        margin-top: 50px;
    } */
    footer .inner ul.list {
        float: left;
        margin: 30px auto 0;
    }


}


/* 태블릿 768px 이하 해상도 (아이패드 미니) */
@media screen and (max-width: 768px){
   
    section.sns ul.sub-container li a .img-box{
        height: 120px;
    }
    section.main .main-title h2 {
        font-size: 25px;
    }
    header {
        height: 70px;
        line-height: 70px;
    }
    header .inner-header h1 .logo {
        height: 0px;
    }
    section.main .main-title p {
        font-size: 15px;
    }
    section.main .main-title .view {
    font-size: 11px;
    width: 100px;
    padding: 4px 8px;
}


section .title h2 {
    font-size: 32px;
    margin-bottom: 10px;
}
section .title p {
    font-size: 15px;
}


section.about .sub-container li {
    box-sizing: border-box;
    float: none;
    margin: 0 auto;
    width: 90%;
    height: 510px;
}

section.about ul li a .text h3 {
    font-size: 16px;
    margin-bottom: 10px;
}
section.about ul li a .text p {
    font-size: 12px;
    margin-bottom: 25px;
}
section.about ul li a .text {
    padding: 15px;
}
section.about ul li a .text p.more::before {
    width: 20px;
    height: 20px;
    line-height: 20px;
    top: -3px;
} /* ABOUT */

section.innovation .img-box {
    height: 300px;
}


section.innovation .img-box .inner .bottom {
    padding: 20px 50px;
}
section.innovation .img-box .inner .bottom p {
    float: none;
    width: 100%;
    margin-bottom: 20px;
    font-size: 13px;
}

section.innovation .img-box .inner .bottom a {
    float: none;
    display: block;
    margin: 0 auto;
    width: 80px;
    padding: 8px 27px;
}

section.innovation .img-box .inner h3 {
    font-size: 16px;
    padding: 15px 30px;
}

section.sns ul.sub-container li{
    box-sizing: border-box;
    float: none;
    margin: 0 auto;
    width: 90%;
}

section.sns ul.sub-container li a .img-box{
    height: 440px;
}
section.sns ul.sub-container li a .bottom {
    padding: 15px 0 40px 15px;
    box-sizing: border-box;
}
section.sns ul.sub-container li:last-child{
    margin: 0 auto;
}

footer .inner ul.list {
    margin-left: 0 auto;
}
footer .inner ul.list li{
    /* 메뉴들을 좌측부터 순서대로 정렬 */
    float: left;
    margin-left: 50px;

}

footer .inner ul.list a{
    font-size: 11px;
}





}
/* ahqkdlf 414px 이하 해상도 (아이폰 6/7/8 plus) */
@media (max-width: 414px) {
    section.main {
        background: url(./img/vis_4.jpg) no-repeat center / cover fixed;
        height: 70vh;
        position: relative;
    }
    .fa-bars:before {
        width: 0.4em;
    }
    section.main .main-title h2 {
        font-size: 24px;
        width: 280px;
        line-height: 1.2;
    }
    
    section.main .main-title .view {
        font-size: 13px;
        width: 140px;
        padding: 5px 5px;
    }

    section.main .main-title p{
        font-size: 13px;
        margin: 20px 0 40px;
    }   


    section .title h2 {
        font-size: 28px;
        margin-bottom: 10px;
    }
    section .title p {
        font-size: 13px;
    }

    section.about ul li a .text p {
    font-size: 12px;
    margin-bottom: 15px;
}
    section.about .sub-container li .img-box {
        overflow: hidden;
        margin-top: 50px;
    }

    section.innovation .img-box {
        height: 250px;
    }
    section.about .sub-container li {
        box-sizing: border-box;
        float: none;
        margin: 0 auto;
        width: 90%;
        height: 340px;
    }
    section.about ul li a .text p {
        line-height: 1.3;
    }
    section.about .sub-container {
        padding-bottom: 50px;
    }

    section.innovation .img-box .inner {
        width: 85%;
    }


    section.innovation .img-box .inner h3 {
        font-size: 13px;
    }
    section.innovation .img-box .inner .bottom p {
        font-size: 12px;
    }
    section.innovation .img-box .inner .bottom a {
        font-size: 12px;
        text-align: center;
    }
    section.innovation .img-box .inner .bottom {
        padding: 20px 35px;
    }

    section.me {
    background: url(./img/me.jpg) no-repeat center / cover;
    padding: 50px 0;
    margin-bottom: 120px;
}
section.me ul.list > li {
    padding: 30px 40px;
    /* background-color: #555; */
}
footer .inner .ft-logo {
    float: none;
    width: 60%;
    margin: 0 auto;
}
footer .inner .address {
    float: none;
    text-align: center;
    margin-top: 20px;
}
footer .inner ul.list {
    display: none;
}

br.mo{
    display: block;
}
    
}





















